body {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

/* Conditional Sytles */
.section_label {
    color: grey;
}

.subject_status_icon,
.process_status_icon,
.graduation_possibility_icon {
    font-size: 2.5em;
    color: white;
}


.loading, .error_message, .no_data_message {
    font-size: 1.1rem;
    color: white;
    margin-top: 50%;
}

.green_safe_icon {
    color: green;
}

.yellow_caution_icon {
    color: darkgoldenrod;
}

.red_dangerous_icon {
    color: red;
}

/* Main Styles */
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-top: 100px;
}

.dashboard_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1500px;
}

.subjects_status_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    width: 100%;
}

.subject_status_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    max-width: 250px;
    max-height: 75px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(106, 106, 164, 1);
    background: linear-gradient(
        135deg,
        rgba(4, 4, 7, 1) 0%,
        rgba(4, 4, 7, 1) 40%,
        rgba(4, 4, 7, 1) 60%,
        rgba(19, 17, 37, 1) 85%,
        rgba(4, 4, 7, 1) 100%
    );
    padding: 20px 20px;
}

.subject_status_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    padding-right: 100px;
}

.overall_progress_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: flex-start;
    max-width: 1500px;
    width: 100%;
    column-gap: 50px;
    margin-top: 50px;
}

.overall_progress_left {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.process_prediction_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.process_status_container,
.graduation_possibility_container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    max-width: 255px;
    max-height: 75px;
    width: 250px;
    height: 70px;
    border: 1px solid rgba(106, 106, 164, 1);
    background: linear-gradient(
        135deg,
        rgba(4, 4, 7, 1) 0%,
        rgba(4, 4, 7, 1) 40%,
        rgba(4, 4, 7, 1) 60%,
        rgba(19, 17, 37, 1) 85%,
        rgba(4, 4, 7, 1) 100%
    );
    padding: 10px 20px;
}

.process_status_details_container,
.graduation_possibility_details_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
}

.process_status_icon_container,
.graduation_possibility_icon_container {
    display: flex;
    justify-content: flex-end;
}

.overall_progress_right {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: center;
    row-gap: 20px;
    width: 100%;
}

.subjects_average_score_container {
    width: 100%;
}

.subject_average_score_bar {
    display: block;
    max-height: 315px;
    width: 100%;
    height: 100%;
}

.subject_bar_chart_container canvas {
    width: 100% !important;
    height: 100% !important;
}

.line_chart_container {
    width: 100%;
    display: block;
    justify-content: center;
    margin-top: 30px;
}

.line_chart_container h2 {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
}

.line_chart_container canvas {
    max-width: 100%;
    max-height: 315px;
    width: auto;
    height: auto;
    margin-top: 20px;
}

.graduation_percentage_container {
    z-index: 2;
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
}

.graduation_percentage_container h2 {
    margin: 10px 0px;
    margin-bottom: 30px;
    padding: 0;
}

.graduation_percentage_chart_container {
    display: block;
    max-width: 100%;
    max-height: 315px;
    width: 100%;
    height: 100%;
}

.graduation_percentage_chart canvas {
    z-index: 2;
    max-width: 100%;
    max-height: 315px;
    width: auto;
    height: auto;
}

.study_suggestion_container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 50px;
}

.study_suggestion_heading {
    display: block;
    text-align: center;
    margin-bottom: 40px;
}

.ai_analysis_content {
    position: relative;
    font-family: 'Fira Code', monospace;
    display: block;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    max-width: 1500px;
    width: 100%;
    color: #fafafa;
    font-size: 17px;
    line-height: 1.3;
    white-space: pre-wrap;
    padding-bottom: 100px;
}

.typing_cursor {
    display: inline-block;
    width: 10px;
    color: white;
    font-weight: bold;
    animation: blink 1s step-end infinite;
}
.ai_analysis_content h3,
.ai_analysis_content p,
.ai_analysis_content ul 
.ai_analysis_content ol {
    width: 100%;
    text-align: left;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}