/* Global Styles Set Up */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(
    -45deg,
    rgba(4, 4, 7, 1) 0%,
    rgba(4, 4, 7, 1) 30%,
    rgba(19, 17, 37, 1) 50%,
    rgba(4, 4, 7, 1) 80%,
    rgba(4, 4, 7, 1) 100%
  );
  overflow-x: hidden;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

/* Responsive Layout */
.home-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
}

/* Grid background */
.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
      linear-gradient(0deg, rgba(231, 230, 230, 0.050) 1px, transparent 1px),
      linear-gradient(90deg, rgba(231, 230, 230, 0.050) 1px, transparent 1px);
  filter: blur(1.1px);
  opacity: 0.5;
  background-size: 50px 50px; 
  z-index: 0;
}

/* Welcome Section */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
}

/* Features badge */
.features-badge {
    position: relative;
    display: inline-block;
    max-width: 250px;
    width: auto;
    z-index: 2;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: rgba(22, 20, 42, 1);
    color: rgba(106, 106, 164, 1);
    padding: 2px 10px;
    margin-bottom: 40px;
}

/* Welcome text */
.welcome-content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    margin-bottom: 70px;
}

.welcome-content-text h1 {
    width: auto;
    max-width: 850px;
    font-size: 3.8rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.welcome-content-text p {
    width: auto;
    max-width: 600px;
    font-size: 1.1rem;
    font-weight: 400;
    color: grey;
}

/* Animation Image */
.welcome-image {
    position: relative;
    z-index: 2;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid white;
    transform-style: preserve-3d;
    transform: perspective(1100px) rotateX(0deg) scale(1);
    animation: 
        rotateScale 1s ease-in-out;
    animation-timeline: view();
    animation-range: entry 10%;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
}

@keyframes rotateScale {
    from {
        transform: perspective(1100px) rotateX(45deg) scale(1)
    }
    to {
        transform: perspective(1000px) rotateX(0deg) scale(1);
    }
}