.features-badge-animation {
    animation: fadeInDown 1s ease-in-out both;
    transform: translateY(0);
    opacity: 1;
}

.welcome-title-animation,
.dashboard-features-title-animation {
    animation: fadeInBlur 800ms ease-in-out both;
    filter: blur(0);
    opacity: 1;
}

.welcome-subtitle-animation {
    animation: fadeInUp 700ms ease-out forwards;
    animation-delay: 500ms;
    opacity: 0;
}

.dashboard-overview-badge-animation {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.dashboard-overview-title-animation {
    opacity: 0;
    filter: blur(5px);
    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

.is-in-view.dashboard-overview-badge-animation {
    opacity: 1;
    transform: translateX(0);
}

.is-in-view.dashboard-overview-title-animation {
    opacity: 1;
    filter: blur(0);
}

.dashboard-overview-content-animation {
    transform: translateY(100px);
    filter: blur(8px);
    opacity: 0;
    transition: 
        transform 1s ease-in-out,
        filter 1s ease-in-out,
        opacity 1s ease-in-out;
}

.is-in-view.dashboard-overview-content-animation {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes fadeInUp {
    from {
        transform: translateY(100px);
        filter: blur(8px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fadeInUpShort {
    from {
        transform: translateY(40px);
        filter: blur(8px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translateY(-80px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInBlur {
    from {
        filter: blur(10px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes fadeInBlurView {
    from {
        filter: blur(15px);
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes SwipeInLeft {
    from {
        transform: translateX(-100%);
        filter: blur(5px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}