body {
    background: linear-gradient(to bottom, #0a0a0f, #12121a 40%, #0e0e0e 100%);
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(0deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    filter: blur(1.2px);
    opacity: 0.5;
    background-size: 70px 70px; 
    z-index: 0;
}

.content {
  z-index: 1;
  position: relative;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.2em;
  color: #ccc;
}