/* Global Styles Set Up */
body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

/* Grid background */
.grid-background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(0deg, rgba(231, 230, 230, 0.050) 1px, transparent 1px),
    linear-gradient(90deg, rgba(231, 230, 230, 0.050) 1px, transparent 1px);
  filter: blur(1.1px);
  opacity: 0.5;
  background-size: 50px 50px; 
  z-index: 0;
}

/* Welcome Section */
.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(
    -45deg,
    rgba(4, 4, 7, 1) 0%,
    rgba(19, 17, 37, 1) 30%,
    rgba(4, 4, 7, 1) 50%,
    rgba(4, 4, 7, 1) 80%,
    rgba(4, 4, 7, 1) 100%
  );
  padding-top: 150px;
  margin: 0;
}

/* Features badge */
.features-badge {
  max-width: 320px;
  width: auto;
  z-index: 3;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: rgba(22, 20, 42, 1);
  color: rgba(106, 106, 164, 1);
  padding: 2px 10px;
  margin-bottom: 40px;
}

/* Welcome text */
.welcome-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: relative;
  margin-bottom: 70px;
}

.welcome-content-text h1 {
  width: auto;
  max-width: 850px;
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.welcome-content-text p {
  width: auto;
  max-width: 600px;
  font-size: 1.1rem;
  font-weight: 400;
  color: grey;
}

/* Animation Image */
.hero-image {
  position: relative;
  z-index: 3;
  display: block;
  object-fit: fill;
  border-radius: 10px;
  border: 1px solid white;
  transform-style: preserve-3d;
  transform: perspective(1100px) rotateX(0deg) scale(1);
  animation: 
      rotateScale 1s ease-in-out;
  animation-timeline: view();
  animation-range: entry 10%;
  max-width: 90vw;
  width: 100%;
  height: auto;
}

/* Welcome image animation */
@keyframes rotateScale {
  from {
      transform: perspective(1100px) rotateX(45deg) scale(1)
  }
  to {
      transform: perspective(1000px) rotateX(0deg) scale(1);
  }
}

.gradient-black-background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 3;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0) 0%,
    rgba(23, 23, 23, 0) 100%
  );
}

/* Dashboard Overview Section */
.dashboard-overview-section {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  padding-top: 40px;
}

.dashboard-overview-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-height: 250px;
  width: calc(100% - 10%);
  height: 200px;
}

.dashboard-overview-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-height: 200px;
  height: auto;
}

.dashboard-overview-badge {
  max-width: 320px;
  width: auto;
  z-index: 3;
  border-radius: 4px;
  border: 0.2px solid rgba(26, 24, 51, 1);
  outline: none;
  background: transparent;
  color: rgba(130, 118, 235, 1);
  padding: 2px 10px;
  margin-bottom: 40px;
}

.dashboard-overview-title {
  font-size: 3.8rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.dashboard-overview-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 200px;
  height: 100%;
}

.dashboard-overview-content p {
  font-size: 1.2rem;
  color: grey;
  text-align: left;
}

/* Dashboard Features Section */
.dashboard-features-section {
  position: relative;
  z-index: 3;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 100px 50px;
  margin: 0 auto;
}

.dashboard-features-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  width: calc(100% - 10%);
  height: calc(100% - 10%);
  border: 1px solid rgba(27, 24, 51, 1);
  border-radius: 10px;
}

.dashboard-features-heading-grid {
  display: grid;
  grid-template-rows: 500px 150px;
  border-right: 1px solid rgba(27, 24, 51, 1);
}

.dashboard-features-heading-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.dashboard-features-heading-container h1 {
  font-size: 2.5rem;
  max-width: 380px;
  width: auto;
  margin: 20px 20px;
}

.dashboard-features-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.dashboard-features-content-container {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 1px solid rgba(27, 24, 51, 1);
  padding: 20px;
}

.dashboard-features-content-container p {
  font-size: 1rem;
  color: grey;
  max-width: 550px;
  width: auto;
}

.dashboard-features-image-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 100px 0px 0px 100px;
}

.dashboard-features-image-container img {
  object-fit: cover;
  width: 800px;
  height: 600px;
  border-radius: 8px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
}

/* Updates summary section */
.updates-summary-section {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  padding-top: 40px;
}

.updates-summary-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  max-height: 250px;
  width: calc(100% - 10%);
  height: 200px;
}

.updates-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  height: 100%;
}

.updates-badge {
  max-width: 80px;
  width: auto;
  z-index: 3;
  border-radius: 4px;
  border: 0.2px solid rgba(26, 24, 51, 1);
  outline: none;
  background: transparent;
  color: rgba(130, 118, 235, 1);
  padding: 2px 10px;
  margin-bottom: 40px;
}

.updates-heading-container h1 {
  font-size: 2.5rem;
}

.updates-caption-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 150px;
  height: 100%;
}

.updates-caption-container div {
  font-size: 1.2rem;
  color: grey;
  text-align: left;
}