@keyframes dot-pulse {
    0%, 100% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
}

.ai-preloader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;
    height: 100vh;
    color: #a0aec0;
}

.ai-preloader p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.dots-container {
    display: flex;
    gap: 15px;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: rgba(106, 106, 164, 1);
    border-radius: 50%;
    animation: dot-pulse 1.4s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}