#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(23, 23, 23, 1);
  color: white;
  margin: 0;
  padding: 0;
}