/* Basic setup */
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
  padding: 0;
  margin: 0;
}

/* Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 20px;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(27, 24, 51, 1);
    overflow: hidden;
    background-color: rgba(6, 6, 7, 1);
    animation: welcomeHeader 1s ease-in-out forwards;
    opacity: 0;
    animation-delay: 700ms;
    padding: 0 auto;
    margin: 0;
}

@keyframes welcomeHeader {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }    
}

/* Logo container */
.header_logo_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100%;
    padding: 0 10px;
    margin: 0;
}

.header_logo {
    color: rgba(130, 118, 236, 1);
}

/* Nav Links container */
.header_nav_links_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 40px;
    padding: 0 10px;
    margin: 0;
}

.header_nav_link {
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}

/* Header action button */
.header_action_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 100%;
    padding: 0 10px;
    margin: 0;
}

.header_action_button {
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    width: 130px;
    height: 30px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: 1px solid rgba(106, 106, 164, 1);
    color: rgba(131, 132, 204, 1);
    background-color: rgba(27, 24, 51, 1);
    cursor: pointer;
    padding: 5px 1px;
    margin: 0;
}

.action_button_text_container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.action_button_default_text,
.action_button_hover_text {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
}

.action_button_default_text {
    transform: translateY(0%);
}

.action_button_hover_text {
    transform: translateY(100%);
}

.action_button_text_container:hover .action_button_default_text {
    transform: translateY(-100%);
}

.action_button_text_container:hover .action_button_hover_text {
    transform: translateY(0%);
}